*{
    margin: 0;
    padding: 0;
    /* border: 1px black solid; */
}

body{
  background: #0c0f1d;
}

/*Header*/
.containerhead{
  top: 1em;
  position: relative;
  margin: auto;
  background: #1b1d2a;
  width: 51%;
  height: 44em;
  border-radius: 20px;
  border: none;
}

.Boxmain{
  top: 1em;
  flex-wrap: wrap;
  margin: auto;
  border-radius: 20px;
  display: flex;
  width: 59em;
  height: 33em;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.imgheadermain{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textheader{
  width: 56em;
  top: 2em;
  position: relative;
  margin: auto;
}

.textheader h6{
  color: white;
  display: inline;
  font-family: 'Poppins', sans-serif;
  font-weight:200;
  font-size: 20px;
}

.textheader h1{
  color: white;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight:bold;
}

.textheader p{
  position: relative;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 15px;
  top: 10px;
}

.textheader a{
  text-decoration: none;
  color: #25c5df;
  font-family: 'Poppins', sans-serif;
}

/*End Header*/

.ListHeadContent{
  margin: auto;
  top: 3em;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  background: #1b1d2a;
  width: 51%;
  height: 44em;
  border-radius: 20px;
  border: none;
  justify-content: center;
}

.txtContent{
  position: relative;
  right: 22em;
  color: white;
}

.txtContent h1{
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
}

.txtContent h6{
  font-family: 'Poppins', sans-serif;
  font-weight:200;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Box {
  bottom: 1em;
  justify-content: center;
  border-radius: 10px;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.Box img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center; /* gambar berada pada posisi tengah-tengah */
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6474964985994398) 100%);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  color: white;
  padding: 20px;
  text-align: center;
}

h2 {
  margin-top: 0
}

@media only screen and (max-width: 1031px) and (min-width: 688px) {
  .ListHeadContent {
    flex-wrap: wrap;
  }
  .Deleted .Box{
    display: none;
  }

}

@media only screen and (max-width: 800px) {
  .Boxmain{
    border-radius: 0px;
    margin: auto;
    width: 100%;
    display: flex;
    width:auto;
    height: 15em;
    border: 0px;
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  }

  .imgheadermain{
    width: auto;
    height: auto;
    object-fit: cover;
  }
}